<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- <context:property-placeholder properties-ref="deployProperties" /> -->

    <!-- <bean id="deployProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean" -->

<!--
    <import resource="classpath*:spring-data-offer.xml"/>
-->
    <import resource="spring-servlet.xml"></import>
    <import resource="applicationContext-shiro.xml"></import>

    <context:annotation-config/>
    <mvc:annotation-driven/>

    <context:component-scan base-package="com.stars" />
    <!--<context:component-scan base-package="com.lagou" use-default-filters="false">
           <context:exclude-filter type="regex" expression=".*Controller$" />
       </context:component-scan>-->

    <bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:app.properties</value>
            </list>
        </property>
    </bean>

</beans>
