$lgPrimary: #3c8dbc;
$lgBorderColor: #e4e4e4;
$lgBgColor: #ecf0f5;
$lgSidebarMenuOddBgColor: #2c3b41;
$lgSidebarMenuEvenBgColor: #222d32;
$lgSidebarMenuLabelBorderColor: #3c8dbc;
$lgSidebarMenuLabelColor: white;
$lgSidebarMenuHeaderColor: #4b646f;
$lgSidebarMenuHeaderBgColor: #1a2226;

$lgHeadbarBgColor: $lgPrimary;
$lgScrollbarColor: #aaa;

$lgSidebarWidth: 150px;
$lgSidebarMiniWidth: 42px;
$lgScrollbarWidth: 2px;

