<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
		  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
              http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!--
    <localRepository>E:\maven_repository</localRepository>
    -->

	<!--非官方插件命令行运行配置-->
<!--
	<pluginGroups>
		<pluginGroup>org.mortbay.jetty</pluginGroup>
	</pluginGroups>
-->

<!--
	<mirrors>
		&lt;!&ndash;配置仓库镜像&ndash;&gt;
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<name>Human Readable Name for this Mirror.</name>
			<url>http://repo1.maven.org/maven2/</url>
		</mirror>

	</mirrors>
-->


	<!--激活profile-->
<!--
	<activeProfiles>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
-->

</settings>