<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stars.travel.dao.base.mapper.UserCollectionMapper" >
  <resultMap id="BaseResultMap" type="com.stars.travel.model.base.UserCollection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="phone_collection_key" property="phoneCollectionKey" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="collection_phone" property="collectionPhone" jdbcType="VARCHAR" />
    <result column="is_enable" property="isEnable" jdbcType="BIT" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, phone_collection_key, createtime, user_phone, collection_phone, is_enable, updatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stars.travel.model.base.UserCollectionCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from root_user_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <choose >
      <when test="limitStart != -1 and limitEnd != -1" >
        limit ${limitStart} , ${limitEnd}
      </when>
      <when test="limitStart != -1" >
        limit ${limitStart}
      </when>
    </choose>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.stars.travel.model.base.UserCollectionKey" >
    select 
    <include refid="Base_Column_List" />
    from root_user_collection
    where id = #{id,jdbcType=INTEGER}
      and phone_collection_key = #{phoneCollectionKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.stars.travel.model.base.UserCollectionKey" >
    delete from root_user_collection
    where id = #{id,jdbcType=INTEGER}
      and phone_collection_key = #{phoneCollectionKey,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.stars.travel.model.base.UserCollectionCriteria" >
    delete from root_user_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stars.travel.model.base.UserCollection" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into root_user_collection (phone_collection_key, createtime, 
      user_phone, collection_phone, is_enable, 
      updatetime)
    values (#{phoneCollectionKey,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{userPhone,jdbcType=VARCHAR}, #{collectionPhone,jdbcType=VARCHAR}, #{isEnable,jdbcType=BIT}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.stars.travel.model.base.UserCollection" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into root_user_collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phoneCollectionKey != null" >
        phone_collection_key,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="collectionPhone != null" >
        collection_phone,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phoneCollectionKey != null" >
        #{phoneCollectionKey,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="collectionPhone != null" >
        #{collectionPhone,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=BIT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stars.travel.model.base.UserCollectionCriteria" resultType="java.lang.Integer" >
    select count(*) from root_user_collection
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update root_user_collection
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.phoneCollectionKey != null" >
        phone_collection_key = #{record.phoneCollectionKey,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userPhone != null" >
        user_phone = #{record.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.collectionPhone != null" >
        collection_phone = #{record.collectionPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.isEnable != null" >
        is_enable = #{record.isEnable,jdbcType=BIT},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update root_user_collection
    set id = #{record.id,jdbcType=INTEGER},
      phone_collection_key = #{record.phoneCollectionKey,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      collection_phone = #{record.collectionPhone,jdbcType=VARCHAR},
      is_enable = #{record.isEnable,jdbcType=BIT},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stars.travel.model.base.UserCollection" >
    update root_user_collection
    <set >
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="collectionPhone != null" >
        collection_phone = #{collectionPhone,jdbcType=VARCHAR},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=BIT},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and phone_collection_key = #{phoneCollectionKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stars.travel.model.base.UserCollection" >
    update root_user_collection
    set createtime = #{createtime,jdbcType=TIMESTAMP},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      collection_phone = #{collectionPhone,jdbcType=VARCHAR},
      is_enable = #{isEnable,jdbcType=BIT},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
      and phone_collection_key = #{phoneCollectionKey,jdbcType=VARCHAR}
  </update>
</mapper>